<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae iure quam dolores sequi est vel quasi eius. Sed fugiat magnam distinctio! Assumenda, molestias possimus nemo porro harum ipsum similique quaerat sed? Magnam ipsam dolorem assumenda non voluptatibus nihil dolorum quasi!</p>
    </div>
</div>