<div class="card p-3 y-center">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis cumque adipisci ipsam.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, et modi! Temporibus nesciunt reiciendis
        voluptate eos, hic sed eligendi rem est reprehenderit eaque recusandae velit aliquam laborum quas
        accusantium quam odio molestiae rerum deserunt laboriosam facere! Id quae eos quisquam odit repellat
        dignissimos enim molestiae sapiente. Totam placeat commodi nostrum!</p>
    <a href="/" class="btn btn-primary">Home</a>
</div>